
.language-container > button:hover{
    background: rgba(128, 128, 128, 0.43);
    border-width: 0;
}

.language-container > button:active{
    background: rgba(128, 128, 128, 1);
    border-width: 0;
    box-shadow: #323232 5px 5px 5px 1px;
}
.language-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    gap: 10%;
}

.language-container > button{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    gap: 10%;
    background-color: #202020;
    border-radius: 0%;
    color: white;
}