.mediaBar{
    background-color: #D9D9D9;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 30px;
    height: 90px;

}
.mediaBar > button {
    background: none;
    border-radius: 100%;
    outline:none ;
    border-style: none;
}


.mediaBar > button:hover{
    background: rgba(128, 128, 128, 0.43);
    border-width: 0;
}
.mediaBar > button:active{
    background: rgba(128, 128, 128, 1);
    border-width: 0;
    box-shadow: #323232 5px 5px 5px 1px;
}

@media screen and (max-width: 450px) {

    .mediaBar{
        width: 95%;
    }
    .mediaBar > button > svg{
        width: 25px;
        height: 25px;
    }
}